<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CS542Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Dijkstra</display-name>
    <servlet-name>Dijkstra</servlet-name>
    <servlet-class>CS542Project_sec3_Sonawane_Snehal.Dijkstra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dijkstra</servlet-name>
    <url-pattern>/Dijkstra</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Topology</display-name>
    <servlet-name>Topology</servlet-name>
    <servlet-class>CS542Project_sec3_Sonawane_Snehal.Topology</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Topology</servlet-name>
    <url-pattern>/Topology</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet>
    <description></description>
    <display-name>Upload</display-name>
    <servlet-name>Upload</servlet-name>
    <servlet-class>CS542Project_sec3_Sonawane_Snehal.Upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>

    <description></description>
    <display-name>ShortestPath</display-name>
    <servlet-name>ShortestPath</servlet-name>
    <servlet-class>CS542Project_sec3_Sonawane_Snehal.ShortestPath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShortestPath</servlet-name>
    <url-pattern>/ShortestPath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePath</display-name>
    <servlet-name>UpdatePath</servlet-name>
    <servlet-class>CS542Project_sec3_Sonawane_Snehal.UpdatePath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePath</servlet-name>
    <url-pattern>/UpdatePath</url-pattern>
  </servlet-mapping>
</web-app>